@media screen and (max-width: 426px) { 
    footer {
        display: block;
    }
    .social > a {
        font-size: 12vw;
        margin: 5px;
    }
    .social {
        display: inline-block;
        margin: 0;
        padding: 1vh 8vw;
    }

    .links {
        float: right;
        margin: 2vh 12vw;
    }

    .links > a {
        margin-right: 10px;
    }
    .stars {
        display: block;
        margin: 0 30vw;
    }
    .starImg {
        height: 50px;
    }
    footer > .imgs {
        margin: 0;
    }

    .madmedmest {
        width: 90vw;
        margin:0 5vw;
    }
    .gazelle {
        display: none;
    }

    .wrapper {
        margin: 0;
    }   
    
    .name-banner-menu > h1{
        font-size: 6vw;
        padding: 0 2vw;    
    }

    .grid-container-menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'bannerMenu' 
            'season-container' 
            'menubox'
            'imgMenu' 
            'articleMenu'
            'priceMenu';
    }
    
    .menubox {
        padding: 2vh 2vw;
        margin-right: 0;
    }



    /*grid naming for sæson container*/
    .name-forår-menu {grid-area: forår;}
    .name-sommer-menu {grid-area: sommer;}
    .name-efterår-menu {grid-area: efterår;}
    .name-vinter-menu {grid-area: vinter;}

    .season-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'forår sommer'
        'efterår vinter';
        height: 100%;
    }

    .menu-icon{
        transform: translate(20vw, -19vh);
    }

    .season-menu {
        height: 50vw;
    }

    .season-menu > h3{
        transform: translate(15vw, -16vh);
        font-size: 6vw;
    }
    
    .img-container-menu{
        width: 49vw;
        height: 49vw;
    }

    .menu-img5{
        width: 100vw;
        height: 80vw;
    }
    .name-article-menu {
        margin:0;
        padding: 2vh 2vw;
        height: 32vh;
    }

    .pris {
        width: 100vw;
        transform: translateY(-5px);
        padding: 0;
        margin: 0;
    }

    .pris > p{
        padding: 2vh 2vw;
    }
    /*ÅRSTIDS MENUER*/
    
    .grid-container-season{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'forret'
        'forretImg'
        'hovedret'
        'hovedretImg'
        'dessert'
        'dessertImg'
        'tilbage';
    }
    .name-banner-menu-seasons > h1{
        font-size: 7vw;
    }
    .months{
        transform: translateY(-14px);
    }  
    
    /*SELSKABS SIDE*/
    .grid-container-selskaber {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        'hero'
        'tekst'
        'billede'
        'menubox'
        'banner'
        'info'
        'img';
    }

    .name-selskab-hero {
        width: 100vw;
    }
    .name-text-selskaber {
        width: 100vw;
        height: 55vh;
    }

    .name-img-selskaber img {
        width: 100vw;
    }
    .name-menu-selskaber {
        width: 100vw;
    }

    .flexbox-selskab {
        width: 100vw;
    }
    .selskab-menu {
        width: 50%;
        height: 10vh; 
    }

    .lokale-info {
        width: 100vw;
    }
    
    .lokale-img {
        width: 100vw;
    }
    /*SELSKABS UNDERSIDER*/
    .grid-container-bryllup{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'menuBryllup menuBryllup'
        'pris1 pris2'
        'others others';
        width: 100%;
    }
    
    .pris-bryllup > p {
        margin: 0;
    }
         
    /*SPIS HOS MEST*/
    .grid-container-hosMest{
        display: grid;
        grid-gap: 1%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'hosMest'
        'fredag1'
        'fredag2'
        'fredag3'
        'fredag4';
    }
    .name-banner-menu > h1{
        font-size: 7vw;
        padding-left: 12px;
    }
        /*footeren er weird i Spis hos Mest*/
       .hosMest{
           transform: translateY(575px);
       } 

    .tekst-hosMest{
    width: 70vw;
    height: 31vh;
    margin: 1vh auto;
    }

    .redbox{
        width: 70vw;
    }

/*OM OS SIDEN*/
    .grid {
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 10px;
        grid-template-areas:
        'first-a'
        'first-i'
        'second-a'
        'second-i'
        'third-a'
        'third-i';
    }

    .first-image {
        height: 50vh;
    }
    .second-image {
        height: 50vh;
    }
    .third-image {
        height: 50vh;
    }
}
