* {
    box-sizing: border-box;
}
.first-article { grid-area: first-a; }
.first-image { grid-area: first-i; }
.second-image { grid-area: second-i; }
.second-article { grid-area: second-a; }
.third-article { grid-area: third-a; }
.third-image { grid-area: third-i; }

.grid-container {
    display: grid;
    grid-template-areas:
        'first-a first-a first-a first-i first-i'
        'second-i second-i second-a second-a second-a'
        'third-a third-a third-a third-i third-i';
    grid-template-columns: ;
}

.main {
    margin: 0 0px;
    display: block;
}

.historie {
    display: flex;
}

.first-article {
    
}
h1 {
    font-size: 1.5em;
}
p {
    width: 380px;
    line-height: 1.4em;
}
.first-image {
    height: 80vh;
}

.i-dag {
    display: flex;
}
.second-image {
    height: 80vh;
}
.second-article {

}

.mød-os {
    display: flex;
}
.third-article {

}
.third-image {
    height: 80vh;
}