*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*HERO*/
.hero-img{
    width: 100%;
}

.logo{
    width: 100px;
    height: 100px;
    transform: translate(0px, -500px);
}
/*MAIN*/
.btn-box{
    background-color: #5e0d18;
    height: 120px;
    width: 50px;
}
.fa-chevron-circle-right{
    font-size: 2em;
    color: #96192b;
    text-align: center;
    transform: rotateY(50%);
}


/*CSS GRID NAMING*/
.name-hero {grid-area: hero;}
.name-cobox {grid-area: cobox;}
.name-cateringbox {grid-area: cateringbox;}
/*PLACEMENT IN GRID - DESKTOP*/

.grid-container{
    display: grid;
    grid-template-areas: 
    'hero hero hero'    
    'cobox cobox cobox'
    'cateringbox cateringbox cateringbox';
}

