*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*HERO*/
/* .hero-img{
    height: 200px;
    width: 200px;
} */
/*MAIN*/
.btn-box{
    background-color: brown;
    height: 120px;
    width: 50px;
}
.fa-chevron-circle-right{
    font-size: 2em;
    color: red;
    text-align: center;
    transform: rotateY(50%);
}


/*CSS GRID NAMING*/
.name-hero {grid-area: hero;}
.name-cobox {grid-area: cobox;}
.name-cateringbox {grid-area: cateringbox;}
/*PLACEMENT IN GRID - DESKTOP*/

.grid-container{
    display: grid;
    grid-template-areas: 
    'hero hero hero'
    'hero hero hero'
    'cobox cobox cobox'
    'cateringbox cateringbox cateringbox';
}

