* {
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
}
p {
    line-height: 1.4em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: ; */
    grid-template-areas:
    'header header header header'
    'first-a first-a first-i first-i'
    'first-a first-a first-i first-i'
    'second-i second-i second-a second-a'
    'second-i second-i second-a second-a'
    'third-a third-a third-i third-i'
    'third-a third-a third-i third-i'
    'footer footer footer footer';
}
header { grid-area: header; }
.first-article { grid-area: first-a; }
.first-image { grid-area: first-i; }
.second-image { grid-area: second-i; }
.second-article { grid-area: second-a; }
.third-article { grid-area: third-a; }
.third-image { grid-area: third-i; }
footer { grid-area: footer; }

.main {
    margin: 0 0px;
    height: 150vh;
}

.historie {
    height: 60vh;
}

.first-article {
    height: 60vh
}

.first-image {
    background-image: url(../images/bygning.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 60vh;
}

.i-dag {
    height: 30vh;
}
.second-image {
    background-image: url(../images/mette_stefan.jpg);
    background-size: cover;
    background-position: center center;
    height: 30vh;
}

.second-article {
    height: 30vh;

}

.mod-os {
    height: 40vh;
}
.third-article {
    height: 40vh;

}
.third-image {
    background-image: url(../images/kokke.jpg);
    background-size: cover;
    background-position: center center;
    height: 40vh;
}
